*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;

}
.text>h3{
    color: hsl(218, 44%, 22%);
    margin: 10px;
}
.text>p{
    color: hsl(220, 15%, 55%);
    margin: 10px;
    font-size: 13px;
}
.box{
    margin: 10rem;
    width: 250px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
}
img{
    margin: 1rem;
    border-radius: 10px;
    width: 220px;
}